pipeline/mini_project_pl.json
{
	"name": "mini_project_pl",
	"properties": {
		"activities": [
			{
				"name": "read_onprem_control_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.mini_prj_contrl_table ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "onprem_sql_ds",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.server_name",
								"type": "Expression"
							},
							"schema_name": "dbo",
							"table_name": "mini_prj_"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterate_data_copy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "read_onprem_control_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_onprem_control_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "oprem_to_raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "onprem_sql_ds",
									"type": "DatasetReference",
									"parameters": {
										"db_name": {
											"value": "@pipeline().globalParameters.db_name",
											"type": "Expression"
										},
										"server_name": {
											"value": "@pipeline().globalParameters.server_name",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().source_table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "@item().raw_location",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().source_table_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "archieve_raw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "oprem_to_raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adls_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "@item().raw_location",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().source_table_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "@item().archieve_location",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().source_table_name, '_', formatDateTime(utcNow(), 'yyyy_MM_dd_HH_mm_ss'), '.csv')\r\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "iteraret_for_bronze_data_load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "iterate_data_copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_onprem_control_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "raw_to_bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/load_bronze",
								"baseParameters": {
									"key_column": {
										"value": "@item().key_column",
										"type": "Expression"
									},
									"schema_name": {
										"value": "@item().source_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@item().source_table_name",
										"type": "Expression"
									},
									"volume_path": {
										"value": "@item().volume_path",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adb_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-03T16:11:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}